<html>
<head>
        <link rel="stylesheet" href="pretty.css" />
    <title>Dodaj Authora</title>
</head>
<body>

<form action="addAuthor" method="post">
        <div class="container">
    <label for="firstName"> Imię
    <input type="text" placeholder="Enter Author's first Name " name="firstName" id="firstName">
    </label>
    </br>
    <label for="lastName"> Nazwisko
    <input type="text" placeholder="Enter Author's Surname "name="lastName" id="lastName">
    </label>
    </br>
    <label for="birthYear"> Rok urodzenia
    <input type="text" placeholder="Enter year od birth " name="birthyear" id="birthYear">
    </label></br>
    <input type="hidden" value="addBook">
    <input type="submit">
    </div>
</form>

</body>
</html>