<html>
<head>
    <title>Dodaj książke</title>
    <link rel="stylesheet" href="pretty.css" />
</head>
<body>
Wprowadź dane książki
<form action="addBook" method="post">
    </br>
    <div class="container">
    <label for="title"> Tytuł</label>
    <input type=text placeholder="Wprowadz tytul" name="title" id="title">
    </br>
    <label for="authors"> Wybierz autora</label>
    <input type=text placeholder="znajdz autora na liscie" list="authors" name="author">
    <datalist id="authors">
       <%for (Author author: authors) {%>
        <option value="<%=author.getFirstName() + " " + author.getLastName()%>">
                <%}%>
    </datalist>
    Jeśli nie znalazłeś autora na liście możesz<a class=link href="addAuthor"> dodać</a>
    <input type="hidden" value="addBook">
    </br>
    <label for="file"> Okładka</label>
    <input type="file" name="image" id="file">
</br>
<input type="submit" value="Dodaj">
</div>
</form>

</body>
</html>