<html>
<head>
        <link rel="stylesheet" href="pretty.css" />
    <title>Login</title>
</head>
<body>

<div>
    <form  method="post" >
            <div class="container">
            <label for="title"> Wprowadz login</label>
        <input type="text" placeholder="username" name="username"/>
        <label for="title"> Wprowadz haslo</label>
        <input type="password" placeholder="password" name="password"/>
        <input type="hidden" name="operation" value="login" />
        <input type="submit" value="Login">
            </div>
    </form>
    <a href="register.html"><button value="register">Register</button> </a>
</div>

</body>
</html>