<html>
  <head>
      <link rel="stylesheet" href="pretty.css" />
    <title>Main</title>
  </head>
  <body>
  <a class=goto href="addBook.jsp" >Dodaj Książke</a>
  <a class=goto href="addAuthor.jsp" >Dodaj Autora</a>
  <a class=goto href="logout.jsp">Wyloguj</a>

 
  <div>
    Brak książek w bazie.
    <a class=goto href="addBook.jsp">Dodaj</a>
  </div>
 
  <div class="bookList">
    <table>
      <tr>
        <th>
          Tytuł
        </th>
        <th>
          Autor
        </th>
        <th>
          Dodaj do ulubionych
        </th>
      </tr>
      <tr>
    
        <td>getTitle> </td>
        <td> getAuthor> </td>
        <td> getImageUrl> </td>
       
    </table>


  </div>
  </body>
</html>
